/* ********** Custom Properties ********** */
@font-face{
    font-family: pokemon-solid;
    src: url(Pokemon-Solid.ttf);
}
@font-face{
    font-family: pokemon-hollow;
    src: url(Pokemon-Hollow.ttf);
}

:root {
    --first-color-blue: rgba(53, 100, 174);
    --first-color-yellow: rgba(255, 203, 5);
    --first-color-red: rgba(255, 28, 28);
    --first-color-white: rgba(255, 255, 255);
    --first-color-black: rgba(9, 0, 12);
    --second-color-blue: rgba(53, 100, 174, 0.8);
    --second-color-yellow: rgba(255, 203, 5, 0.8);
    --second-color-red: rgba(255, 28, 28, 0.8);
    --second-color-white: rgba(255, 255, 255, 0.8);
    --second-color-black: rgba(9, 0, 12, 0.8);
    --link-color: #509ee3;
    --font-solid: pokemon-solid;
    --font-hollow: pokemon-hollow;
    --font-rale: "Raleway";
    --max-width: 1200px;
    --header-height: 4rem;
  }

/* ********** Reset ********** ***************************************************************************/
html {
    box-sizing: border-box;
    font-family: var(--font-solid);
    font-size: 16px;
    scroll-behavior: smooth;
    letter-spacing: 3px;
    text-align: center;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
  }
  
  a:hover {
    opacity: 0.75;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }


  .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    
  }

  .none {
    display: none;
  }

  /* ******************************   MENU HEADER  ****************************** */

 .menu {
  display: none;
 }

 .logo a img {
  height: var(--header-height);
 }

 .logo {
  position: relative;
  top: 6px;
 }

 .header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: var(--header-height);
  background-image: linear-gradient(90deg, var(--second-color-red), var(--first-color-red),var(--second-color-yellow),var(--first-color-yellow),var(--second-color-blue),var(--first-color-blue));
 }

 .header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.menu-btn {
  outline: thin solid var(--first-color-white);
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.menu-btn svg {
  fill: var(--first-color-white);
}

.menu {
  position: fixed;
  left: 0;
  bottom: 6rem;/*usar la funcion calc bien*/
  width: 90%;
  left: 5%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  background-image: linear-gradient(90deg, var(--second-color-red), var(--first-color-red),var(--second-color-yellow),var(--first-color-yellow),var(--second-color-blue),var(--first-color-blue));
} 

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color-black);
}

.menu a:hover {
  background-image: linear-gradient(90deg, var(--second-color-red), var(--first-color-red),var(--second-color-yellow),var(--first-color-yellow),var(--second-color-blue),var(--first-color-blue));
} 



 @media screen and (min-width: 1024px) {

  .header {
    position: sticky;
    top: 0;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;/*si le coloco 100% no funciona,¿ Porque ?, ¿ viene heredado de la linea 295?*/
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    background-image: none;
  }

  .menu a {
    padding: 0 1rem;
    height: var(--header-height);
  }

  .menu a:last-child {
    padding-right: 0%;
  }

  .menu a:hover {
    background-image: none;
    /* padding-right: 1rem; */
  }
} 

/* **********   SIDEBAR   ********** */

.side-bar {
  position: fixed;
  width: 20%;
  left: 0;
  bottom: 6rem;
  top:0;
  background-color: aqua;
}

@media screen and (min-width: 1024px) {

  .side-bar {
    bottom: 2rem;
    top: var(--header-height);
  }

}
/* **********   MAIN   ********** */

.main {
  position: fixed;
  left: 20%;
  right: 0;
  top: 0;
  bottom: calc(var(--header-height) + 2rem);
  overflow-y: auto;
}

.grid-fluid-todos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

.grid-fluid-busqueda {
  position: fixed;
  left: 20%;
  right: 0;
  top: var(--header-height);
  bottom: calc(var(--header-height) + 2rem);
  overflow: hidden auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}

/* .render-busqueda {

} */

.loader {
  display: block;
  margin: auto;
}

@media screen and (min-width: 1024px) {

  .main {
    bottom: calc(var(--header-height) - 2rem);
    top: var(--header-height);
  }

  .grid-fluid-busqueda {
    top: calc(var(--header-height) + 4rem);
    bottom: calc(var(--header-height) - 2rem);
  }
}


/* **********   FOOTER   ********** */


.footer {
  position: fixed;
  bottom: 0;
  height: 2rem;
  width: 100%;
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-image: linear-gradient(90deg, var(--second-color-red), var(--first-color-red),var(--second-color-yellow),var(--first-color-yellow),var(--second-color-blue),var(--first-color-blue));
}
 
.footer h5 {
  position: relative;
  bottom: 13px;
}

@media screen and (min-width: 1024px){

  .footer{
    margin-bottom: 0;
  }

}

/*   **********   BUSCAR Y TARJETAS   **********   */

@media screen and (min-width: 1024px){

  .form{
    top: var(--header-height);
  }

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 80%;
  left: 20%;
  height: var(--header-height);
}

.input {
  /* width: 200px; */
  height: 2rem;
}

.poke-card {
  position: relative;
  height: fit-content;
  max-width: 300px;
  border-radius: 4px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 7px auto;
  background-color: #FFF;
  border: 1px solid black;
  font-size: 12px;
  /* z-index: -2; */
}

.poke-card::before {
  content: '';
  background: radial-gradient(black 33%, transparent 33%);
  background-size: 3px 3px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.img-container {
  position: relative;
  width: 110px;
  margin: 0 auto;
  margin-top: 2px;
}


.poke-stats div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  font-size: 10px;
}

.poke-types div {
  padding: 2px;
  margin: 5px;
  border-radius: 4px;
  border: 1px dashed black;
  /* height: 30px; */
  top: 10px;
}

.poke-img {
  width: 180px;
  border-radius: 50%;
}
/* .boton-stats{
  margin: 5px auto;
} */

div [data-container]{

  display: flex;
  margin-left: 8px;
  position: relative;

}

div [data-poke-id]{

  height: 30px;
  width: 82px;

}

div [data-poke-stats]{

  position: relative;
  margin: auto 15px;
}

div [data-poke-types]{

  display: flex;
}

.boton-stats{
  height: 40px;
  width: 40px;
  background-image: url(../assets/pokebola.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border-color:transparent;
}

.boton-stats:active{
  height: 50px;
  width: 50px;
  background-image: url(../assets/pokebola.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border-color:transparent;
}

.error{
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
}

/* .links{
  position: sticky;
} */